---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    type: deployment
    containers:
      piper:
        image:
          repository: quay.io/linuxserver.io/piper
          pullPolicy: IfNotPresent
          tag: 2.2.2

        env:
          - name: PIPER_VOICE
            value: en_US-amy-medium
          - name: PIPER_LENGTH
            value: "1.5"
          - name: PIPER_NOISE
            value: "0.667"
          - name: PIPER_NOISEW
            value: "0.333"
          - name: PIPER_SPEAKER
            value: "0"

        resources:
          requests:
            cpu: 10m
            memory: 163Mi
          limits:
            memory: 163Mi

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  piper:
    controller: main
    enabled: true
    type: LoadBalancer
    loadBalancerClass: ${CILIUM_LB_CLASS}
    ipFamilyPolicy: PreferDualStack
    annotations:
      external-dns.alpha.kubernetes.io/provider: internal
      external-dns.alpha.kubernetes.io/hostname: piper.iot.${LOCAL_INTERNAL_DOMAIN}
    ports:
      http:
        port: 10200
        targetPort: 10200
