---
sources:
  - service
  - ingress
  - traefik-proxy

interval: 2m

logLevel: warning

domainFilters:
  - internal.muehlbachler.io
  - internal.muehlbachler.xyz

annotationFilter: "external-dns.alpha.kubernetes.io/provider=internal"

policy: sync
txtOwnerId: external-dns-${SITE}-adguard
provider:
  name: webhook
  webhook:
    image:
      repository: ghcr.io/muhlba91/external-dns-provider-adguard
      tag: v11.0.1
    service:
      port: 8888
    env:
      - name: LOG_LEVEL
        value: info
      - name: ADGUARD_URL
        value: "http://${ROUTER_IP}:3000"
      - name: ADGUARD_USER
        value: "admin"
      - name: ADGUARD_PASSWORD
        valueFrom:
          secretKeyRef:
            name: adguard-home-admin-password
            key: ADGUARD_ADMIN_PASSWORD
      - name: SERVER_HOST
        value: "0.0.0.0"
      - name: HEALTHZ_HOST
        value: "0.0.0.0"
      - name: DRY_RUN
        value: "false"
    resources:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi

service:
  ipFamilyPolicy: PreferDualStack

resources:
  requests:
    cpu: 10m
    memory: 116Mi
  limits:
    memory: 116Mi
