---
extends: default

ignore:
  - secret-*.enc.yml
  - "*-patch.yaml"
  - snmp.yml

rules:
  line-length:
    max: 350
  comments:
    min-spaces-from-content: 1
  truthy:
    ignore:
      - .github/
