---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

defaultPodOptions:
  terminationGracePeriodSeconds: 60
  tolerations:
    - key: nvidia.com/gpu
      operator: Exists
      effect: NoSchedule

controllers:
  main:
    annotations:
      reloader.stakater.com/auto: "true"
    initContainers:
      copy-config:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - cp
          - "-v"
          - /config.yaml
          - /config/config.yaml
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
          limits:
            memory: 32Mi
      download-models:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - /scripts/download_models.sh
        envFrom:
          - secretRef:
              name: frigate-s3-credentials
        resources:
          requests:
            cpu: 10m
            memory: 128Mi
          limits:
            memory: 128Mi
    containers:
      frigate:
        image:
          repository: ghcr.io/blakeblackshear/frigate
          pullPolicy: IfNotPresent
          tag: 0.16.4

        env:
          - name: NVIDIA_DRIVER_CAPABILITIES
            value: "all"
          - name: NVIDIA_VISIBLE_DEVICES
            value: "all"
        envFrom:
          - secretRef:
              name: frigate-rtsp-credentials

        resources:
          requests:
            cpu: 489m
            memory: 2241Mi
          limits:
            memory: 2241Mi

        probes:
          liveness: &server_probes
            enabled: true
            custom: true
            spec:
              httpGet:
                port: 5000
                path: /
                scheme: HTTP
              initialDelaySeconds: 15
              periodSeconds: 30
              timeoutSeconds: 1
              failureThreshold: 5
          readiness: *server_probes
          startup:
            enabled: false

service:
  frigate-http:
    controller: main
    # ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 5000
      auth:
        port: 8971
  frigate:
    controller: main
    ipFamilyPolicy: PreferDualStack
    ports:
      rtmp:
        port: 1935
      rtsp:
        port: 8554
      webrtc-udp:
        port: 8555
        protocol: UDP
      webrtc-tcp:
        port: 8555
      go2rtc-admin:
        port: 1984

persistence:
  configfile:
    enabled: true
    type: configMap
    name: frigate-config
    advancedMounts:
      main:
        copy-config:
          - path: /config.yaml
            subPath: config.yaml
  config:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config
  models:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /models
  media:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 20Gi
    globalMounts:
      - path: /media
  dshm:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
    globalMounts:
      - path: /dev/shm
  tmpfs:
    enabled: true
    type: emptyDir
    medium: Memory
    sizeLimit: 1Gi
    globalMounts:
      - path: /tmp
  scripts:
    enabled: true
    type: configMap
    name: frigate-scripts
    defaultMode: 511
    advancedMounts:
      main:
        download-models:
          - path: /scripts
