---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    pod:
      runtimeClassName: nvidia
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
      annotations:
        backup.velero.io/backup-volumes: data
    containers:
      immich:
        image:
          repository: ghcr.io/immich-app/immich-server
          pullPolicy: IfNotPresent
          tag: v2.5.5

        envFrom:
          - configMapRef:
              name: immich-env

        env:
          - name: NVIDIA_DRIVER_CAPABILITIES
            value: compute,utility,video
          - name: NVIDIA_VISIBLE_DEVICES
            value: all
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: immich-database
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: immich-database
                key: password

        resources:
          requests:
            cpu: 143m
            memory: 840Mi
          limits:
            memory: 2048Mi

        probes:
          liveness: &server_probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 2283
              initialDelaySeconds: 0
              periodSeconds: 30
              timeoutSeconds: 1
              failureThreshold: 5
          readiness: *server_probes
          startup:
            enabled: false

    initContainers:
      create-data-directories:
        image:
          repository: busybox
          tag: 1.37
          pullPolicy: IfNotPresent
        command:
          - sh
          - -c
          - "/init/create-data-directories.sh"
        securityContext:
          runAsUser: 0
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 32Mi
  machine-learning:
    enabled: true
    pod:
      runtimeClassName: nvidia
      tolerations:
        - key: nvidia.com/gpu
          operator: Exists
          effect: NoSchedule
    containers:
      machine-learning:
        image:
          repository: ghcr.io/immich-app/immich-machine-learning
          pullPolicy: IfNotPresent
          tag: v2.5.5-cuda

        envFrom:
          - configMapRef:
              name: immich-env

        env:
          - name: NVIDIA_DRIVER_CAPABILITIES
            value: compute,utility,video
          - name: NVIDIA_VISIBLE_DEVICES
            value: all
          - name: TRANSFORMERS_CACHE
            value: /cache
          - name: DB_USERNAME
            valueFrom:
              secretKeyRef:
                name: immich-database
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: immich-database
                key: password

        resources:
          requests:
            cpu: 10m
            memory: 375Mi
            nvidia.com/gpu: "1"
          limits:
            memory: 3072Mi
            nvidia.com/gpu: "1"

        probes:
          liveness: &ml_probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 3003
              initialDelaySeconds: 0
              periodSeconds: 30
              timeoutSeconds: 1
              failureThreshold: 5
          readiness: *ml_probes
          startup:
            enabled: false
  samba-daniel:
    enabled: true
    pod:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - immich
                  - key: app.kubernetes.io/controller
                    operator: In
                    values:
                      - main
              topologyKey: kubernetes.io/hostname
    containers:
      samba:
        image:
          repository: ghcr.io/crazy-max/samba
          pullPolicy: IfNotPresent
          tag: "4.21.4"

        env:
          - name: TZ
            value: UTC
          - name: SAMBA_SERVER_STRING
            value: photos-daniel
          - name: WSDD2_ENABLE
            value: "1"
          - name: WSDD2_HOSTNAME
            value: photos-daniel
          - name: WSDD2_NETBIOS_NAME
            value: photos-daniel
          - name: SAMBA_LOG_LEVEL
            value: "0"

        securityContext:
          runAsUser: 0
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW

        resources: &samba_resources
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 200Mi

        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false
  samba-kasia:
    enabled: true
    pod:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - immich
                  - key: app.kubernetes.io/controller
                    operator: In
                    values:
                      - main
              topologyKey: kubernetes.io/hostname
    containers:
      samba:
        image:
          repository: ghcr.io/crazy-max/samba
          pullPolicy: IfNotPresent
          tag: "4.21.4"

        env:
          - name: TZ
            value: UTC
          - name: SAMBA_SERVER_STRING
            value: photos-kasia
          - name: WSDD2_ENABLE
            value: "1"
          - name: WSDD2_HOSTNAME
            value: photos-kasia
          - name: WSDD2_NETBIOS_NAME
            value: photos-kasia
          - name: SAMBA_LOG_LEVEL
            value: "0"

        securityContext:
          runAsUser: 0
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW

        resources: *samba_resources

        probes:
          liveness:
            enabled: false
          readiness:
            enabled: false
          startup:
            enabled: false

service:
  immich:
    controller: main
    ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 2283
  machine-learning:
    enabled: true
    controller: machine-learning
    ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 3003
  samba-daniel:
    controller: samba-daniel
    # ipFamilyPolicy: PreferDualStack
    type: LoadBalancer
    loadBalancerClass: ${CILIUM_LB_CLASS}
    externalTrafficPolicy: Local
    annotations:
      external-dns.alpha.kubernetes.io/provider: internal
      external-dns.alpha.kubernetes.io/hostname: photos-daniel.smb.${INTERNAL_DOMAIN}
    ports:
      smb:
        enabled: true
        port: 445
        protocol: TCP
        targetPort: 445
      netbios:
        enabled: true
        port: 139
        protocol: TCP
        targetPort: 139
      discovery:
        enabled: true
        port: 3702
        protocol: TCP
        targetPort: 3702
      llmnr-tcp:
        enabled: true
        port: 5355
        protocol: TCP
        targetPort: 5355
      llmnr-udp:
        enabled: true
        port: 5355
        protocol: UDP
        targetPort: 5355
  samba-kasia:
    controller: samba-kasia
    # ipFamilyPolicy: PreferDualStack
    type: LoadBalancer
    loadBalancerClass: ${CILIUM_LB_CLASS}
    externalTrafficPolicy: Local
    annotations:
      external-dns.alpha.kubernetes.io/provider: internal
      external-dns.alpha.kubernetes.io/hostname: photos-kasia.smb.${INTERNAL_DOMAIN}
    ports:
      smb:
        enabled: true
        port: 445
        protocol: TCP
        targetPort: 445
      netbios:
        enabled: true
        port: 139
        protocol: TCP
        targetPort: 139
      discovery:
        enabled: true
        port: 3702
        protocol: TCP
        targetPort: 3702
      llmnr-tcp:
        enabled: true
        port: 5355
        protocol: TCP
        targetPort: 5355
      llmnr-udp:
        enabled: true
        port: 5355
        protocol: UDP
        targetPort: 5355

ingress:
  immich:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "${PUBLIC_CLUSTER_ISSUER}"
      external-dns.alpha.kubernetes.io/provider: public
      external-dns.alpha.kubernetes.io/target: "${PUBLIC_IP}"
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - host: &domain photos.${HOME_DOMAIN}
        paths:
          - path: /
            pathType: ImplementationSpecific
            service:
              identifier: immich
              port: 2283
    tls:
      - secretName: immich-tls-cert
        hosts:
          - *domain

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 256Gi
    advancedMounts:
      main:
        immich:
          - path: /data
        create-data-directories:
          - path: /data
      samba-daniel:
        samba:
          - path: /shares
      samba-kasia:
        samba:
          - path: /shares
  machine-learning-cache:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 15Gi
    advancedMounts:
      machine-learning:
        machine-learning:
          - path: /cache
  config:
    enabled: true
    type: secret
    name: immich-config
    defaultMode: 511
    advancedMounts:
      main:
        immich:
          - path: /config/immich.yaml
            subPath: immich.yaml
  samba-config:
    enabled: true
    type: secret
    name: samba-config
    advancedMounts:
      samba-daniel:
        samba:
          - path: /data/config.yml
            subPath: daniel.yaml
      samba-kasia:
        samba:
          - path: /data/config.yml
            subPath: kasia.yaml
  init:
    enabled: true
    type: configMap
    name: immich-init
    defaultMode: 511
    advancedMounts:
      main:
        create-data-directories:
          - path: /init
