---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    type: statefulset
    annotations:
      reloader.stakater.com/auto: "false"
    containers:
      ring-mqtt:
        image:
          repository: tsightler/ring-mqtt
          pullPolicy: IfNotPresent
          tag: 5.9.2@sha256:2f96b55bc97a72ff704eeabf48a68290f6cd0e7dbcab1bfecbb8c02b006680a5

        env:
          - name: DATA_PATH
            value: /config
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /gcp-credentials/credentials.json
          - name: GOOGLE_CREDENTIALS
            valueFrom:
              secretKeyRef:
                name: ring-mqtt-gcp-credentials
                key: credentials.json

        envFrom:
          - secretRef:
              name: ring-mqtt-backup
          - configMapRef:
              name: ring-mqtt-git

        resources:
          requests:
            cpu: 10m
            memory: 172Mi
          limits:
            memory: 172Mi

    initContainers:
      backup-restore:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - /scripts/backup_restore.sh
          - "true"
        envFrom:
          - secretRef:
              name: ring-mqtt-backup
          - configMapRef:
              name: ring-mqtt-git
        env:
          - name: DATA_PATH
            value: /data
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /gcp-credentials/credentials.json
          - name: GOOGLE_CREDENTIALS
            valueFrom:
              secretKeyRef:
                name: ring-mqtt-gcp-credentials
                key: credentials.json
        resources:
          requests:
            cpu: 3m
            memory: 96Mi
          limits:
            cpu: "1"
            memory: 256Mi

  backup:
    type: cronjob
    cronjob:
      concurrencyPolicy: Replace
      schedule: 0 0 * * *
      successfulJobsHistory: 3
      failedJobsHistory: 3
      startingDeadlineSeconds: 30
      backoffLimit: 2
    pod:
      restartPolicy: OnFailure
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - home-assistant-ring-mqtt
              topologyKey: kubernetes.io/hostname
    containers:
      backup:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - /scripts/backup_restore.sh
        envFrom:
          - secretRef:
              name: ring-mqtt-backup
          - configMapRef:
              name: ring-mqtt-git
        env:
          - name: DATA_PATH
            value: /data
          - name: GOOGLE_APPLICATION_CREDENTIALS
            value: /gcp-credentials/credentials.json
          - name: GOOGLE_CREDENTIALS
            valueFrom:
              secretKeyRef:
                name: ring-mqtt-gcp-credentials
                key: credentials.json
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: "1"
            memory: 256Mi

serviceAccount:
  home-assistant-ring-mqtt: {}

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 32Mi
    retain: false
  scripts:
    enabled: true
    type: configMap
    name: ring-mqtt-scripts
    defaultMode: 0o0777
  gcp-credentials:
    enabled: true
    type: secret
    name: ring-mqtt-gcp-credentials
    advancedMounts:
      main:
        backup-restore:
          - path: /gcp-credentials
            readOnly: true
      backup:
        backup:
          - path: /gcp-credentials
            readOnly: true
