---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    type: deployment
    containers:
      ecowitt2mqtt:
        image:
          repository: ghcr.io/bachya/ecowitt2mqtt
          pullPolicy: IfNotPresent
          tag: 2026.01.0

        env:
          - name: ECOWITT2MQTT_HASS_DISCOVERY
            value: "true"
          - name: ECOWITT2MQTT_INPUT_UNIT_SYSTEM
            value: imperial
          - name: ECOWITT2MQTT_OUTPUT_UNIT_SYSTEM
            value: metric
          - name: ECOWITT2MQTT_PRECISION
            value: "2"
          - name: ECOWITT2MQTT_DEFAULT_BATTERY_STRATEGY
            value: boolean
          - name: ECOWITT2MQTT_MQTT_BROKER
            value: emqx.home-assistant-mqtt
          - name: ECOWITT2MQTT_MQTT_TLS
            value: "false"

        resources:
          requests:
            cpu: 10m
            memory: 100Mi
          limits:
            memory: 100Mi

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  ecowitt2mqtt:
    controller: main
    enabled: true
    type: LoadBalancer
    loadBalancerClass: ${CILIUM_LB_CLASS}
    ipFamilyPolicy: PreferDualStack
    annotations:
      external-dns.alpha.kubernetes.io/provider: internal
      external-dns.alpha.kubernetes.io/hostname: ecowitt.iot.${LOCAL_INTERNAL_DOMAIN}
    ports:
      http:
        port: 80
        targetPort: 8080
