---
toolbox:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

cephImage:
  repository: quay.io/ceph/ceph
  tag: v20.2.0
  allowUnsupported: false

cephClusterSpec:
  dataDirHostPath: /var/lib/rook
  skipUpgradeChecks: false
  continueUpgradeAfterChecksEvenIfNotHealthy: false
  cleanupPolicy:
    confirmation: "" # "yes-really-destroy-data"
  disruptionManagement:
    managePodBudgets: false
  cephConfig:
    global:
      osd_pool_default_size: "3"
      osd_pool_default_min_size: "2"
      mon_warn_on_pool_no_redundancy: "false"
      bdev_flock_retry: "20"
      bluefs_buffered_io: "false"
      mon_data_avail_warn: "10"
  mon:
    count: 1
    allowMultiplePerNode: true
  mgr:
    count: 1
    allowMultiplePerNode: true
    modules:
      - name: pg_autoscaler
        enabled: true
      - name: rook
        enabled: true
  dashboard:
    enabled: true
    ssl: false
  storage:
    useAllNodes: true
    useAllDevices: false
    deviceFilter: "^sd."
  priorityClassNames:
    all: system-node-critical
  resources:
    mgr:
      requests:
        cpu: 30m
        memory: 1024Mi
      limits:
        memory: 1024Mi
    mon:
      requests:
        cpu: 25m
        memory: 543Mi
      limits:
        memory: 1024Mi
    osd:
      requests:
        cpu: 58m
        memory: 2556Mi
      limits:
        memory: 4096Mi
    # prepareosd: # not set
    # mgr-sidecar: # not set
    crashcollector:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
    logcollector:
      requests:
        cpu: 10m
        memory: 100Mi
      limits:
        memory: 100Mi
    # cleanup # not set
    exporter:
      requests:
        cpu: 15m
        memory: 100Mi
      limits:
        memory: 100Mi

ingress:
  dashboard:
    annotations:
      cert-manager.io/cluster-issuer: "${INTERNAL_CLUSTER_ISSUER}"
      external-dns.alpha.kubernetes.io/provider: internal
    host:
      name: &domain rook.${LOCAL_INTERNAL_DOMAIN}
    tls:
      - secretName: rook-ceph-dashboard-tls-cert
        hosts:
          - *domain

cephBlockPools:
  - name: builtin-mgr
    spec:
      name: .mgr
      failureDomain: osd
      replicated:
        size: 3
        requireSafeReplicaSize: false
      parameters:
        compression_mode: none
      mirroring:
        enabled: false
    storageClass:
      enabled: false
cephECBlockPools:
  - name: ceph-ec-pool
    spec:
      metadataPool:
        failureDomain: osd
        replicated:
          size: 3
          requireSafeReplicaSize: false
      dataPool:
        failureDomain: osd
        erasureCoded:
          dataChunks: 2
          codingChunks: 1
        parameters:
          allow_ec_optimizations: "true"
    parameters:
      clusterID: rook-ceph
      imageFormat: "2"
      imageFeatures: layering,fast-diff,object-map,deep-flatten,exclusive-lock
    storageClass:
      enabled: true
      provisioner: rook-ceph.rbd.csi.ceph.com
      name: rook-ceph-block
      isDefault: true
      allowVolumeExpansion: true
      reclaimPolicy: Delete

cephFileSystems: []

cephObjectStores: []
