---
service:
  ipFamilyPolicy: PreferDualStack

resources:
  requests:
    cpu: 10m
    memory: 100Mi
  limits:
    memory: 100Mi

webhook:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

certController:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi
