---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-auth
  target:
    name: immich-config
    template:
      engineVersion: v2
      data:
        immich.yaml: |-
          ---
          backup:
            database:
              cronExpression: 0 02 * * *
              enabled: true
              keepLastAmount: 14
          ffmpeg:
            accel: nvenc
            accelDecode: true
            acceptedAudioCodecs:
              - aac
              - mp3
              - libopus
            acceptedContainers:
              - mov
              - ogg
              - webm
            acceptedVideoCodecs:
              - h264
            bframes: -1
            cqMode: auto
            crf: 23
            gopSize: 0
            maxBitrate: '0'
            preferredHwDevice: auto
            preset: ultrafast
            refs: 0
            targetAudioCodec: aac
            targetResolution: '720'
            targetVideoCodec: h264
            temporalAQ: false
            threads: 0
            tonemap: hable
            transcode: required
            twoPass: false
          image:
            colorspace: p3
            extractEmbedded: false
            fullsize:
              enabled: false
              format: jpeg
              quality: 80
            preview:
              format: jpeg
              quality: 80
              size: 1440
            thumbnail:
              format: webp
              quality: 80
              size: 250
          job:
            backgroundTask:
              concurrency: 10
            faceDetection:
              concurrency: 5
            library:
              concurrency: 10
            metadataExtraction:
              concurrency: 10
            migration:
              concurrency: 10
            notifications:
              concurrency: 10
            ocr:
              concurrency: 5
            search:
              concurrency: 10
            sidecar:
              concurrency: 10
            smartSearch:
              concurrency: 5
            thumbnailGeneration:
              concurrency: 10
            videoConversion:
              concurrency: 2
          library:
            scan:
              cronExpression: 0 0 * * *
              enabled: true
            watch:
              enabled: false
          logging:
            enabled: true
            level: log
          machineLearning:
            availabilityChecks:
              enabled: true
              interval: 30000
              timeout: 2000
            clip:
              enabled: true
              modelName: ViT-B-16-SigLIP__webli
            duplicateDetection:
              enabled: true
              maxDistance: 0.01
            enabled: true
            facialRecognition:
              enabled: true
              maxDistance: 0.6
              minFaces: 15
              minScore: 0.7
              modelName: buffalo_l
            ocr:
              enabled: true
              maxResolution: 736
              minDetectionScore: 0.5
              minRecognitionScore: 0.8
              modelName: PP-OCRv5_mobile
            urls:
              - 'http://immich-machine-learning:3003'
          map:
            enabled: true
          metadata:
            faces:
              import: false
          newVersionCheck:
            enabled: true
          nightlyTasks:
            clusterNewFaces: true
            databaseCleanup: true
            generateMemories: true
            missingThumbnails: true
            startTime: '00:00'
            syncQuotaUsage: true
          oauth:
            autoLaunch: false
            autoRegister: true
            buttonText: Login with SSO
            clientId: "{{ .oidc_client_id }}"
            clientSecret: "{{ .oidc_client_secret }}"
            defaultStorageQuota: 0
            enabled: true
            issuerUrl: "{{ .oidc_issuer_url }}"
            mobileOverrideEnabled: true
            mobileRedirectUri: https://photos.home.muehlbachler.io/api/oauth/mobile-redirect
            profileSigningAlgorithm: none
            roleClaim: immich_role
            scope: openid email profile
            signingAlgorithm: RS256
            storageLabelClaim: name
            storageQuotaClaim: immich_quota
            timeout: 30000
            tokenEndpointAuthMethod: client_secret_post
          passwordLogin:
            enabled: true
          reverseGeocoding:
            enabled: true
          server:
            externalDomain: https://photos.home.muehlbachler.io
            loginPageMessage: ''
            publicUsers: false
          storageTemplate:
            enabled: true
            hashVerificationEnabled: true
            template: {{ "\"{{y}}/{{MM}}/{{dd}}/{{filetype}}/{{filename}}.{{ext}}\"" }}
          templates:
            email:
              albumInviteTemplate: ''
              albumUpdateTemplate: ''
              welcomeTemplate: ''
          theme:
            customCss: ''
          trash:
            days: 14
            enabled: true
          user:
            deleteDelay: 7
  data:
    - secretKey: oidc_issuer_url
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: zitadel
        property: well_known_url
    - secretKey: oidc_client_id
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: immich-oidc
        property: client_id
    - secretKey: oidc_client_secret
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: immich-oidc
        property: client_secret
