---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    type: deployment
    serviceAccount:
      identifier: home-assistant-telegraf
    containers:
      telegraf:
        image:
          repository: telegraf
          pullPolicy: IfNotPresent
          tag: 1.37.3

        envFrom:
          - secretRef:
              name: influxdb-token

        resources:
          requests:
            cpu: 10m
            memory: 197Mi
          limits:
            memory: 197Mi

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

    initContainers:
      plugins:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - /scripts/plugins.sh
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi
      grafana:
        image:
          repository: alpine/k8s
          tag: 1.35.2
          pullPolicy: IfNotPresent
        command:
          - /scripts/grafana.sh
        envFrom:
          - secretRef:
              name: influxdb-token
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
          limits:
            cpu: 100m
            memory: 128Mi

serviceAccount:
  home-assistant-telegraf: {}

service:
  telegraf:
    controller: main
    ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 8086

persistence:
  config:
    enabled: true
    type: configMap
    name: telegraf-config
    defaultMode: 420
    globalMounts:
      - path: /etc/telegraf/telegraf.conf
        subPath: telegraf.conf
  plugins:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /plugins/bin
  plugin-configuration:
    enabled: true
    type: configMap
    name: telegraf-plugin-config
    defaultMode: 420
    globalMounts:
      - path: /plugins/config
  scripts:
    enabled: true
    type: configMap
    name: telegraf-scripts
    defaultMode: 511
    advancedMounts:
      main:
        plugins:
          - path: /scripts
        grafana:
          - path: /scripts
  grafana-datasources:
    enabled: true
    type: configMap
    name: grafana-datasources
    defaultMode: 511
    advancedMounts:
      main:
        grafana:
          - path: /grafana-datasources
