---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: flux-system
  name: cluster-configuration
data:
  # cluster configuration
  SITE: vie

  # network configuration
  ROUTER_IP: "10.0.0.1"

  # domain names
  HOME_DOMAIN: home.muehlbachler.io
  LOCAL_HOME_DOMAIN: vie.home.muehlbachler.io
  INTERNAL_DOMAIN: internal.muehlbachler.io
  LOCAL_INTERNAL_DOMAIN: vie.internal.muehlbachler.io

  # cluster issuers
  PUBLIC_CLUSTER_ISSUER: cluster-issuer-home-muehlbachler-io
  INTERNAL_CLUSTER_ISSUER: cluster-issuer-internal-muehlbachler-io

  # CIDRs
  CILIUM_IPV4_POD_CIDR: "10.101.0.0/16"
  CILIUM_IPV6_POD_CIDR: "fc00:db8:101::/112"

  # load balancer
  LB_IP_ANNOTATION: "lbipam.cilium.io/ips"
  TRAEFIK_IP: "10.111.72.1,fc00:db8:111::72:1"
  OMADA_CONTROLLER_IP: "10.0.71.1,2a01:aea0:dd3:25a:1000:3:2:1"
  OMADA_CONTROLLER_IP_WEB_IPV4: "10.0.71.1"
  OMADA_CONTROLLER_IP_WEB_IPV6: "2a01:aea0:dd3:25a:1000:3:2:1"
  IMMICH_SAMBA_DANIEL_IP: "10.111.74.21,fc00:db8:111::74:21"
  IMMICH_SAMBA_KASIA_IP: "10.111.74.22,fc00:db8:111::74:22"
  HOME_ASSISTANT_ECOWITT2MQTT_IP: "10.111.73.10,fc00:db8:111::73:10"
  HOME_ASSISTANT_MQTT_IP: "10.111.73.1,fc00:db8:111::73:1"
  HOME_ASSISTANT_FASTER_WHISPER_IP: "10.111.73.20,fc00:db8:111::73:20"
  HOME_ASSISTANT_OPENWAKEWORD_IP: "10.111.73.22,fc00:db8:111::73:22"
  HOME_ASSISTANT_PIPER_IP: "10.111.73.21,fc00:db8:111::73:21"

  # public ip addresses
  PUBLIC_IP: "144.208.195.224,2a01:aea0:dd3:25a::1"

  # storage classes
  DEFAULT_STORAGE_CLASS: "rook-ceph-block"
