---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: flux-system
  name: cluster-configuration
data:
  # cluster configuration
  SITE: vie
  CILIUM_CLUSTER_ID: "1"

  # network configuration
  NODE_IP: "10.0.50.1"
  ROUTER_IP: "10.0.0.1"

  # domain names
  HOME_DOMAIN: home.muehlbachler.io
  LOCAL_HOME_DOMAIN: vie.home.muehlbachler.io
  INTERNAL_DOMAIN: internal.muehlbachler.io
  LOCAL_INTERNAL_DOMAIN: vie.internal.muehlbachler.io

  # cluster issuers
  PUBLIC_CLUSTER_ISSUER: cluster-issuer-home-muehlbachler-io
  INTERNAL_CLUSTER_ISSUER: cluster-issuer-internal-muehlbachler-io

  # CIDRs
  CILIUM_IPV4_POD_CIDR: "10.101.0.0/16"
  CILIUM_IPV6_POD_CIDR: "fc00:db8:101::/112"

  # load balancer
  METALLB_LB_CLASS: "io.metallb/load-balancer"
  METALLB_IP_ANNOTATION: "metallb.io/loadBalancerIPs"
  CILIUM_LB_CLASS: "io.cilium/bgp-control-plane"
  CILIUM_L2_LB_CLASS: "io.cilium/l2-announcer"
  CILIUM_IP_ANNOTATION: "lbipam.cilium.io/ips"
  # traefik specific load balancer
  TRAEFIK_LB_CLASS: "io.cilium/l2-announcer"
  TRAEFIK_IP_ANNOTATION: "lbipam.cilium.io/ips"
  # ip addresses for services
  TRAEFIK_IP: "10.0.72.1,2a01:aea0:dd3:25a:1000:3:3:1"
  OMADA_CONTROLLER_IP: "10.0.71.1,2a01:aea0:dd3:25a:1000:3:2:1"
  OMADA_CONTROLLER_IPV4: "10.0.71.1"
  OMADA_CONTROLLER_IPV6: "2a01:aea0:dd3:25a:1000:3:2:1"

  # public ip addresses
  PUBLIC_IP: "144.208.195.224,2a01:aea0:dd3:25a:1000:3:3:1"

  # storage classes
  DEFAULT_STORAGE_CLASS: "rook-ceph-block"
