---
fullnameOverride: traefik

providers:
  kubernetesCRD:
    allowExternalNameServices: true
    allowEmptyServices: true
  kubernetesIngress:
    allowExternalNameServices: true
    allowEmptyServices: true
    publishedService:
      enabled: true
  kubernetesGateway:
    enabled: true

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"

ports:
  traefik:
    expose:
      default: true
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
      forwardedHeaders:
        trustedIPs:
          - 10.0.0.0/8
        insecure: true
      proxyProtocol:
        trustedIPs:
          - 10.0.0.0/8
        insecure: true
  websecure:
    http:
      forwardedHeaders:
        trustedIPs:
          - 10.0.0.0/8
        insecure: true
      proxyProtocol:
        trustedIPs:
          - 10.0.0.0/8
        insecure: true

ingressRoute:
  dashboard:
    enabled: true

service:
  ipFamilyPolicy: PreferDualStack
  externalTrafficPolicy: Local
  loadBalancerClass: ${TRAEFIK_LB_CLASS}
  annotations:
    ${TRAEFIK_IP_ANNOTATION}: "${TRAEFIK_IP}"
  labels:
    loadbalancer/pool: l2

resources:
  requests:
    cpu: 14m
    memory: 181Mi
  limits:
    memory: 181Mi
