---
configSecret:
  create: false
  name: dex-config

deploymentAnnotations:
  reloader.stakater.com/auto: "false"

ingress:
  enabled: true
  hosts:
    - host: &domain auth.${PUBLIC_DOMAIN}
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: dex-tls-cert
      hosts:
        - *domain
  annotations:
    cert-manager.io/cluster-issuer: "${PUBLIC_CLUSTER_ISSUER}"
    external-dns.alpha.kubernetes.io/provider: public
    external-dns.alpha.kubernetes.io/target: "${PUBLIC_IP}"
    traefik.ingress.kubernetes.io/router.tls: "true"
