---
image:
  repository: ollama/ollama
  tag: 0.15.2

runtimeClassName: nvidia

${APPLICATION}:
  gpu:
    enabled: true
    type: nvidia
    nvidiaResource: nvidia.com/gpu
    number: 1
  models:
    pull:
      # https://github.com/allenporter/home-assistant-datasets/tree/main/reports
      - qwen3:8b-q4_K_M

ingress:
  enabled: false
  annotations:
    cert-manager.io/cluster-issuer: "${INTERNAL_CLUSTER_ISSUER}"
    external-dns.alpha.kubernetes.io/provider: internal
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: &domain ollama.${LOCAL_INTERNAL_DOMAIN}
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
    - secretName: ollama-tls-cert
      hosts:
        - *domain

resources:
  requests:
    cpu: 10m
    memory: 226Mi
  limits:
    memory: 4Gi

persistentVolume:
  enabled: true
  storageClass: ${DEFAULT_STORAGE_CLASS}
  size: 50Gi
