---
global:
  oidc:
    autoLogin: false

podAnnotations:
  backup.velero.io/backup-volumes: storage

useStatefulSet: true

rbac:
  create: true

serviceAccount:
  create: true

service:
  ipFamilyPolicy: PreferDualStack

testFramework:
  enabled: false

deploymentStrategy:
  type: Recreate

envFromSecrets:
  - name: grafana-oidc

ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "${PUBLIC_CLUSTER_ISSUER}"
    external-dns.alpha.kubernetes.io/provider: public
    external-dns.alpha.kubernetes.io/target: "${PUBLIC_IP}"
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - &domain grafana.${LOCAL_HOME_DOMAIN}
  tls:
    - secretName: grafana-tls-cert
      hosts:
        - *domain

persistence:
  enabled: true
  type: statefulset
  storageClassName: ${DEFAULT_STORAGE_CLASS}
  size: 1Gi

initChownData:
  resources:
    requests:
      cpu: 10m
      memory: 16Mi
    limits:
      cpu: 100m
      memory: 32Mi

admin:
  existingSecret: grafana-admin
  userKey: user
  passwordKey: password

grafana.ini:
  auth:
    signout_redirect_url: "$${OIDC_SIGNOUT_URL}"
    oauth_auto_login: "false"
  server:
    root_url: "https://grafana.${LOCAL_HOME_DOMAIN}"
  auth.generic_oauth:
    enabled: true
    allow_sign_up: true
    allow_assign_grafana_admin: true
    verbose_logging: false
    name: SSO
    icon: cloud
    scopes: openid email profile urn:zitadel:iam:org:project:id:254760536233776133:aud
    auth_url: "$${OIDC_AUTHZ_URL}"
    token_url: "$${OIDC_TOKEN_URL}"
    api_url: "$${OIDC_USER_INFO_URL}"
    client_id: "$${OIDC_CLIENT_ID}"
    client_secret: "$${OIDC_CLIENT_SECRET}"
    # allowed_groups: ["sysadmin"]
    role_attribute_path: contains("urn:zitadel:iam:org:project:254760536233776133:roles"."admin"."253178200153208318", 'muehlbachler.zitadel.cloud') && 'GrafanaAdmin' || 'Viewer'
assertNoLeakedSecrets: false # TODO: can we get rid of this?

plugins: []

sidecar:
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 312Mi
  alerts:
    enabled: false
    labelValue: "1"
    searchNamespace: ALL
    env:
      HEALTH_PORT: 8081
  dashboards:
    enabled: true
    labelValue: "1"
    searchNamespace: ALL
    env:
      HEALTH_PORT: 8082
  datasources:
    enabled: true
    labelValue: "1"
    searchNamespace: ALL
    env:
      HEALTH_PORT: 8083
  plugins:
    enabled: true
    labelValue: "1"
    searchNamespace: ALL
    env:
      HEALTH_PORT: 8084
  notifiers:
    enabled: false
    labelValue: "1"
    searchNamespace: ALL
    env:
      HEALTH_PORT: 8085

resources:
  requests:
    cpu: 12m
    memory: 403Mi
  limits:
    memory: 1024Mi
