---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    type: deployment
    containers:
      openwakeword:
        image:
          repository: rhasspy/wyoming-openwakeword
          pullPolicy: IfNotPresent
          tag: 2.1.0

        args:
          - --model
          - okay_nabu

        resources:
          requests:
            cpu: 14m
            memory: 294Mi
          limits:
            memory: 294Mi

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

service:
  openwakeword:
    controller: main
    enabled: true
    type: LoadBalancer
    ipFamilyPolicy: PreferDualStack
    annotations:
      ${LB_IP_ANNOTATION}: "${HOME_ASSISTANT_OPENWAKEWORD_IP}"
      external-dns.alpha.kubernetes.io/provider: internal
      external-dns.alpha.kubernetes.io/hostname: openwakeword.iot.${LOCAL_INTERNAL_DOMAIN}
    ports:
      http:
        port: 10400
        targetPort: 10400
