---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    containers:
      librechat:
        image:
          repository: ghcr.io/danny-avila/librechat
          pullPolicy: IfNotPresent
          tag: v0.8.1

        envFrom:
          - configMapRef:
              name: librechat-env
          - secretRef:
              name: librechat-secrets
          - secretRef:
              name: librechat-meilisearch-master-key

        env:
          - name: MONGO_URI
            value: mongodb://librechat-mongodb:27017/librechat

        resources:
          requests:
            cpu: 10m
            memory: 768Mi
          limits:
            memory: 768Mi

        probes: &probes
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

    initContainers:
      init-chown-images:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - chown
          - '-R'
          - '1000:1000'
          - /app/client/public/images
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 32Mi
        securityContext:
          capabilities:
            add:
              - CHOWN
      init-chown-uploads:
        image:
          repository: alpine
          tag: 3.23
          pullPolicy: IfNotPresent
        command:
          - chown
          - '-R'
          - '1000:1000'
          - /app/uploads
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 32Mi
        securityContext:
          capabilities:
            add:
              - CHOWN

  rag-api:
    containers:
      api:
        image:
          repository: ghcr.io/danny-avila/librechat-rag-api-dev-lite
          pullPolicy: IfNotPresent
          tag: 65c64ed8bca3b1b7f259382570e98586e530c1be # FIXME: waiting for new release to include google_genai

        envFrom:
          - configMapRef:
              name: librechat-rag-env
          - secretRef:
              name: librechat-rag-secrets

        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: librechat-database
                key: username
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: librechat-database
                key: password

        resources:
          requests:
            cpu: 10m
            memory: 768Mi
          limits:
            memory: 768Mi

        probes: *probes

service:
  librechat:
    controller: main
    # ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 3080
  rag-api:
    controller: rag-api
    # ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 8000

ingress:
  librechat:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "${PUBLIC_CLUSTER_ISSUER}"
      external-dns.alpha.kubernetes.io/provider: public
      external-dns.alpha.kubernetes.io/target: "${PUBLIC_IP}"
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - host: &domain gpt.${HOME_DOMAIN}
        paths:
          - path: /
            pathType: ImplementationSpecific
            service:
              identifier: librechat
              port: 3080
    tls:
      - secretName: librechat-tls-cert
        hosts:
          - *domain

persistence:
  images:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 10Gi
    advancedMounts:
      main:
        librechat:
          - path: /app/client/public/images
        init-chown-images:
          - path: /app/client/public/images
  uploads:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 10Gi
    advancedMounts:
      main:
        librechat:
          - path: /app/uploads
        init-chown-uploads:
          - path: /app/uploads
      rag-api:
        api:
          - path: /app/uploads
  config:
    enabled: true
    type: configMap
    name: librechat-config
    defaultMode: 511
    advancedMounts:
      main:
        librechat:
          - path: /app/librechat.yaml
            subPath: librechat.yaml
