---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
global:
  alwaysAppendIdentifierToResourceName: true

controllers:
  main:
    containers:
      librechat:
        image:
          repository: ghcr.io/danny-avila/librechat
          pullPolicy: IfNotPresent
          tag: v0.8.0

        envFrom:
          - configMapRef:
              name: librechat-env
          - secretRef:
              name: librechat-secrets
          - secretRef:
              name: librechat-meilisearch-master-key

        env:
          - name: MONGO_URI
            value: mongodb://librechat-mongodb:27017/librechat

        resources:
          requests:
            cpu: 10m
            memory: 408Mi
          limits:
            memory: 408Mi

        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 5

    initContainers:
      init-chown-data:
        image:
          repository: alpine
          tag: 3.22
          pullPolicy: IfNotPresent
        command:
          - chown
          - '-R'
          - '1000:1000'
          - /app/client/public/images
        resources:
          requests:
            cpu: 10m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 32Mi
        securityContext:
          capabilities:
            add:
              - CHOWN

service:
  librechat:
    controller: main
    # ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 3080

ingress:
  librechat:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: "${PUBLIC_CLUSTER_ISSUER}"
      external-dns.alpha.kubernetes.io/provider: public
      external-dns.alpha.kubernetes.io/target: "${PUBLIC_IP}"
      traefik.ingress.kubernetes.io/router.tls: "true"
    hosts:
      - host: &domain gpt.${HOME_DOMAIN}
        paths:
          - path: /
            pathType: ImplementationSpecific
            service:
              identifier: librechat
              port: 3080
    tls:
      - secretName: librechat-tls-cert
        hosts:
          - *domain

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    storageClass: ${DEFAULT_STORAGE_CLASS}
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /app/client/public/images
  config:
    enabled: true
    type: configMap
    name: librechat-config
    defaultMode: 511
    globalMounts:
      - path: /app/librechat.yaml
        subPath: librechat.yaml
