---
apiVersion: v1
kind: ConfigMap
metadata:
  name: frigate-scripts
data:
  download_models.sh: |
    #!/bin/sh
    set -euo pipefail

    apk add --no-cache s3cmd

    S3_ASSETS_BUCKET_DOWNLOAD_PATH="$${S3_ASSETS_BUCKET}/$${S3_ASSETS_BUCKET_PATH}/models"
    s3cmd --access_key=${SCW_ACCESS_KEY} --secret_key="${SCW_SECRET_KEY}" --host="https://s3.${SCW_DEFAULT_REGION}.scw.cloud" --host-bucket="https://%(bucket)s.s3.${SCW_DEFAULT_REGION}.scw.cloud" --recursive --force get s3://$${S3_ASSETS_BUCKET_DOWNLOAD_PATH}/ /models/
