---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: frigate-auth-proxy-config
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-auth
  target:
    name: frigate-auth-proxy-config
    template:
      engineVersion: v2
      data:
        oauth2_proxy.yml: |-
          server:
            BindAddress: '0.0.0.0:4180'
          metricsServer:
            BindAddress: '0.0.0.0:44180'
          upstreamConfig:
            upstreams:
              - id: static_200
                path: /
                static: true
                staticCode: 200
          injectResponseHeaders:
            - name: X-Forwarded-User
              values:
                - claimSource:
                    claim: preferred_username
            - name: X-Forwarded-Groups
              values:
                - claimSource:
                    claim: groups
          providers:
            - id: oauth
              provider: oidc
              # code_challenge_method: S256
              clientID: "{{ .clientID }}"
              clientSecret: {{ .clientSecret }}
              scope: openid email profile
              oidcConfig:
                issuerURL: {{ .issuer }}
                userIDClaim: sub
                emailClaim: email
                groupsClaim: groups
                audienceClaims:
                  - aud
  data:
    - secretKey: clientID
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: frigate-auth-proxy
        property: client_id
    - secretKey: clientSecret
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: frigate-auth-proxy
        property: client_secret
    - secretKey: issuer
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        key: zitadel
        property: issuer
