---
# see https://github.com/vmware-tanzu/helm-charts/issues/698
kubectl:
  image:
    repository: public.ecr.aws/bitnami/kubectl
    tag: 1.35.1

resources:
  requests:
    cpu: 128m
    memory: 256Mi
  limits:
    memory: 256Mi

initContainers:
  - name: velero-plugin-for-gcp
    image: velero/velero-plugin-for-gcp:v1.13.2
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins

credentials:
  extraSecretRef: velero-google

configuration:
  backupStorageLocation: []
  volumeSnapshotLocation: []
  defaultBackupStorageLocation: google-cloud

deployNodeAgent: true
nodeAgent:
  resources:
    requests:
      cpu: 10m
      memory: 256Mi
    limits:
      memory: 2Gi
