---
apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat-config
data:
  librechat.yaml: |
    version: 1.2.8

    cache: true

    # fileStrategy: firebase

    fileConfig:
      endpoints:
        default:
          fileSizeLimit: 10
          totalSizeLimit: 100
      serverFileSizeLimit: 100
      avatarSizeLimit: 4

    rateLimits:
      fileUploads:
        ipMax: 100
        ipWindowInMinutes: 60
        userMax: 50
        userWindowInMinutes: 60

    registration:
      socialLogins:
        - openid
      allowedDomains:
        - "muehlbachler.io"

    memory:
      disabled: false
      messageWindowSize: 10
      agent:
        provider: google
        model: gemini-2.5-pro
        model_parameters:
          temperature: 0.2
          max_tokens: 2000
          top_p: 0.8
          frequency_penalty: 0.1

    ocr:
      mistralModel: mistral-ocr-latest
      apiKey: "${MISTRAL_API_KEY}"
      strategy: mistral_ocr

    mcpServers:
      "Memory":
        command: npx
        args:
          - "@modelcontextprotocol/server-memory"
      # "Home Assistant":
      #   type: streamable-http
      #   url: "https://jarvis.${LOCAL_HOME_DOMAIN}/api/mcp"
      #   initTimeout: 150000
      "GitHub":
        type: streamable-http
        url: "https://api.githubcopilot.com/mcp/"
        headers:
          Authorization: "{{ PAT_TOKEN }}"
        customUserVars:
          PAT_TOKEN:
            title: "GitHub PAT Token"
            description: "GitHub Personal Access Token"
        startup: false
      "Perplexity":
        command: npx
        args:
          - "@perplexity-ai/mcp-server"
        env:
          PERPLEXITY_API_KEY: "{{ PERPLEXITY_API_KEY }}"
        customUserVars:
          PERPLEXITY_API_KEY:
            title: "Perplexity API Key"
            description: "The Perplexity API Key"
        startup: false

    endpoints:
      agents:
        recursionLimit: 50
        maxRecursionLimit: 100
        disableBuilder: false
        maxCitations: 30
        maxCitationsPerFile: 7
        minRelevanceScore: 0.45
      custom:
        - name: "Mistral"
          modelDisplayLabel: "Mistral AI"
          iconURL: https://raw.githubusercontent.com/mistralai/platform-docs-public/main/static/img/favicon.ico
          apiKey: "${MISTRAL_API_KEY}"
          baseURL: https://api.mistral.ai/v1
          models:
            default:
              - mistral-medium-latest
              - mistral-small-latest
              - mistral-large-latest
            fetch: false
            userIdQuery: false
          titleConvo: true
          titleModel: mistral-small-latest
          # NOTE: For Mistral, it is necessary to drop the following parameters or you will encounter a 422 Error:
          dropParams:
            - stop
            - user
            - presence_penalty
            - frequency_penalty
