---
apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat-config
data:
  librechat.yaml: |
    version: 1.2.8

    cache: true

    fileStrategy: s3

    fileConfig:
      endpoints:
        default:
          fileSizeLimit: 10
          totalSizeLimit: 100
      serverFileSizeLimit: 100
      avatarSizeLimit: 4

    rateLimits:
      fileUploads:
        ipMax: 100
        ipWindowInMinutes: 60
        userMax: 50
        userWindowInMinutes: 60

    registration:
      socialLogins:
        - openid
      allowedDomains:
        - "muehlbachler.io"

    transactions:
      enabled: true

    memory:
      disabled: false
      messageWindowSize: 10
      agent:
        provider: google
        model: gemini-2.5-pro
        model_parameters:
          temperature: 0.2
          max_tokens: 2000
          top_p: 0.8
          frequency_penalty: 0.1

    ocr:
      mistralModel: mistral-ocr-latest
      apiKey: "${MISTRAL_API_KEY}"
      strategy: mistral_ocr

    webSearch:
      searchProvider: serper
      serperApiKey: "${SERPER_API_KEY}"
      safeSearch: 0

    mcpServers:
      memory:
        command: npx
        args:
          - "@modelcontextprotocol/server-memory"
        startup: false
        initTimeout: 15000
      home-assistant:
        type: streamable-http
        url: https://jarvis.${LOCAL_HOME_DOMAIN}/api/mcp
        oauth:
          authorization_url: https://jarvis.${LOCAL_HOME_DOMAIN}/auth/authorize
          token_url: https://jarvis.${LOCAL_HOME_DOMAIN}/auth/token
          client_id: https://gpt.${HOME_DOMAIN}
          redirect_uri: https://gpt.${HOME_DOMAIN}/api/mcp/home-assistant/oauth/callback
          scope: "read execute"
        startup: false
        initTimeout: 15000
      github:
        type: streamable-http
        url: "https://api.githubcopilot.com/mcp/"
        headers:
          Authorization: "Bearer {{PAT_TOKEN}}"
        customUserVars:
          PAT_TOKEN:
            title: "GitHub PAT Token"
            description: "GitHub Personal Access Token"
        startup: false
        initTimeout: 15000
      perplexity:
        command: npx
        args:
          - "@perplexity-ai/mcp-server"
        env:
          PERPLEXITY_API_KEY: "{{PERPLEXITY_API_KEY}}"
        customUserVars:
          PERPLEXITY_API_KEY:
            title: "Perplexity API Key"
            description: "API Key for Perplexity"
        startup: false
        initTimeout: 15000
      opnsense:
        command: npx
        args:
          - "@richard-stovall/opnsense-mcp-server"
        env:
          OPNSENSE_URL: "https://10.0.0.1"
          OPNSENSE_API_KEY: "{{OPNSENSE_API_KEY}}"
          OPNSENSE_API_SECRET: "{{OPNSENSE_API_SECRET}}"
          OPNSENSE_VERIFY_SSL: "false"
        customUserVars:
          OPNSENSE_API_KEY:
            title: "OPNSense API Key"
            description: "API Key for OPNSense"
          OPNSENSE_API_SECRET:
            title: "OPNSense API Secret"
            description: "API Secret for OPNSense"
        startup: false
        initTimeout: 15000

    endpoints:
      agents:
        recursionLimit: 50
        maxRecursionLimit: 100
        disableBuilder: false
        maxCitations: 30
        maxCitationsPerFile: 7
        minRelevanceScore: 0.45
      custom:
        - name: "Mistral"
          modelDisplayLabel: "Mistral AI"
          iconURL: https://raw.githubusercontent.com/mistralai/platform-docs-public/main/static/img/favicon.ico
          apiKey: "$\\{MISTRAL_API_KEY}"
          baseURL: https://api.mistral.ai/v1
          models:
            default:
              - mistral-medium-latest
              - mistral-small-latest
              - mistral-large-latest
            fetch: false
            userIdQuery: false
          titleConvo: true
          titleModel: mistral-small-latest
          # NOTE: For Mistral, it is necessary to drop the following parameters or you will encounter a 422 Error:
          dropParams:
            - stop
            - user
            - presence_penalty
            - frequency_penalty
        - name: "Perplexity"
          modelDisplayLabel: "Perplexity AI"
          iconURL: https://www.perplexity.ai/favicon.ico
          apiKey: "user_provided"
          baseURL: https://api.perplexity.ai
          models:
            default:
              - sonar
              - sonar-pro
              - sonar-reasoning
              - sonar-reasoning-pro
              - sonar-deep-research
            fetch: false # fetching list of models is not supported
          titleConvo: true
          titleModel: sonar
          dropParams:
            - stop
            - frequency_penalty
