---
apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat-env
data:
  # https://github.com/danny-avila/LibreChat/blob/main/.env.example
  DOMAIN_CLIENT: "https://gpt.${HOME_DOMAIN}"
  DOMAIN_SERVER: "https://gpt.${HOME_DOMAIN}"
  NO_INDEX: "true"
  EMAIL_FROM: "noreply@muehlbachler.io"
  APP_TITLE: LibreChat
  ENDPOINTS: anthropic,google,openAI,agents
  BAN_VIOLATIONS: "false"
  ANTHROPIC_MODELS: claude-haiku-4-5,claude-sonnet-4-5,claude-opus-4-5
  OPENAI_MODELS: gpt-5-mini,gpt-5.1,gpt-5-pro,gpt-5-nano,o3-deep-research,o4-mini-deep-research
  ASSISTANTS_MODELS: gpt-5-mini,gpt-5.1,gpt-5-pro,gpt-5-nano
  GOOGLE_MODELS: gemini-2.5-flash,gemini-2.5-pro,gemini-3-pro-preview,gemini-2.5-flash-image,gemini-3-pro-image-preview,gemini-2.5-flash-lite
  GEMINI_IMAGE_MODEL: gemini-2.5-flash-image # gemini-3-pro-image-preview
  GOOGLE_SAFETY_SEXUALLY_EXPLICIT: BLOCK_NONE
  GOOGLE_SAFETY_HATE_SPEECH: BLOCK_ONLY_HIGH
  GOOGLE_SAFETY_HARASSMENT: BLOCK_ONLY_HIGH
  GOOGLE_SAFETY_DANGEROUS_CONTENT: BLOCK_NONE
  GOOGLE_SAFETY_CIVIC_INTEGRITY: BLOCK_ONLY_HIGH
  TITLE_CONVO: "true"
  OPENAI_TITLE_MODEL: gpt-5-nano
  ANTHROPIC_TITLE_MODEL: claude-haiku-4-5
  GOOGLE_TITLE_MODEL: gemini-2.5-flash-lite
  RAG_PORT: "8000"
  RAG_API_URL: "http://librechat-rag-api:8000"
  SEARCH: "true"
  MEILI_NO_ANALYTICS: "true"
  MEILI_HOST: "http://librechat-meilisearch:7700"
  AWS_ENDPOINT_URL: "https://storage.googleapis.com"
  AWS_REGION: auto
  LOGIN_MAX: "10"
  LOGIN_WINDOW: "5"
  LIMIT_CONCURRENT_MESSAGES: "true"
  CONCURRENT_MESSAGE_MAX: "15"
  LIMIT_MESSAGE_IP: "false"
  ALLOW_EMAIL_LOGIN: "true"
  ALLOW_REGISTRATION: "false"
  ALLOW_SOCIAL_LOGIN: "true"
  ALLOW_SOCIAL_REGISTRATION: "true"
  OPENID_SCOPE: openid profile email
  OPENID_CALLBACK_URL: /oauth/openid/callback
  OPENID_BUTTON_LABEL: "Login with SSO"
  # OPENID_IMAGE_URL: ""
  SESSION_EXPIRY: "1000 * 60 * 30" # 30 min
  REFRESH_TOKEN_EXPIRY: "(1000 * 60 * 60 * 24) * 7" # 7 <ys
  HELP_AND_FAQ_URL: "/"
  CUSTOM_FOOTER: ""
  DEBUG_LOGGING: "false"
  DEBUG_CONSOLE: "false"
