---
sources:
  - crd
  - service
  - ingress
  - traefik-proxy

interval: 2m

logLevel: warning

domainFilters:
  - muehlbachler.io
  - muehlbachler.xyz

annotationFilter: "external-dns.alpha.kubernetes.io/provider=public"

policy: sync
txtOwnerId: external-dns-${SITE}-google
txtPrefix: extdns-
provider:
  name: google

deploymentAnnotations:
  reloader.stakater.com/auto: "true"

env:
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /etc/secrets/service-account/credentials.json

extraArgs:
  google-project: muehlbachler-dns
  google-batch-change-size: 1000

extraVolumes:
  - name: google-service-account
    secret:
      secretName: external-dns-google
extraVolumeMounts:
  - name: google-service-account
    mountPath: /etc/secrets/service-account
    readOnly: true

service:
  ipFamilyPolicy: PreferDualStack

resources:
  requests:
    cpu: 10m
    memory: 100Mi
  limits:
    memory: 100Mi
